html {
  background: #e3e3e3;
}

/* ****************************** Header image formatting ************************* */

.index-header {
  min-width: 100%;
  height: 300px;
  background: url('bright_panels.jpg');
  background-size: cover;
  background-position: center;
}

.calculator-header {
  min-width: 100%;
  height: 300px;
  background: url('cows_grazing.jpg');
  background-size: cover;
  background-position: center center;
}

.funding-header {
  min-width: 100%;
  height: 300px;
  background: url('sunset_panels.jpg');
  background-size: cover;
  background-position: center center;
}

.resources-header {
  min-width: 100%;
  height: 300px;
  background: url('roof_panels.jpg');
  background-size: cover;
  background-position: center center;
}

.questions-header {
  min-width: 100%;
  height: 300px;
  background: url('bright_panels.jpg');
  background-size: cover;
  background-position: center center;
}

/* ****************************** Body and border formatting ************************* */
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: rgb(255, 254, 254);
}


/* ***************************** Top Navigation menu ********************************* */
/* Add a background color to the top navigation */
.topnav {
    background-color: #18453b;
    overflow: hidden;
    min-width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
    /* Add a color to the active/current link */
    .topnav a:current {
        background-color: #375248;
        color: white;
      }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }


/* *******************************FAQ styling***************************************** */
.faq-heading{
   
    border-bottom: #777;
    padding: 20px 60px;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
}
.hr-line{
  width: 70%;
  margin: auto;
  
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    font-size: 110%;
    color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 70%;
    border-left-width: 10px;
    outline: none;
    transition: 0.4s;
    margin: auto;
}
.faq-body{
    margin: auto;
    text-align: left;
    width: 50%; 
    padding: auto;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #c8dad3;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: #fff;
    display: none;
    overflow: hidden;
}
.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}


/* *******************************Resource page styling******************************* */
.resource-heading{
   
  border-bottom: #777;
  padding: 20px 60px;
}
.resource-container{
display: flex;
justify-content: center;
flex-direction: column;
}
.hr-line{
width: 70%;
margin: auto;

}
/* Style the buttons that are used to open and close the faq-page body */
.resource-page {
  /* background-color: #eee; */
  font-size: 110%;
  color: #444;
  cursor: pointer;
  padding: 30px 20px;
  width: 70%;
  border-left-width: 10px;
  outline: none;
  transition: 0.4s;
  margin: auto;
}
.resource-body{
  margin: auto;
  text-align: left;
  width: 50%; 
  padding: auto;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.resource-page:hover {
  background-color: #c8dad3;
}
/* Style the faq-page panel. Note: hidden by default */
.resource-body {
  padding: 0 18px;
  background-color: #fff;
  display: none;
  overflow: hidden;
}
.resource-page:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}