html {
  background: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* ***************************** Top Navigation menu ********************************* */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3d3d3d;
  color: white;
}

.title {
  font-size: 1.5rem;
  margin: 0.75rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links a:hover {
  background-color: #ddd;
  color: black;
}

.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 960px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links .active {
    display: flex; 
  }
}

/* ****************************** Header image formatting ************************* */

.index-header {
  min-width: 100%;
  height: 300px;
  background: url('panels_small.png');
  background-size: cover;
  background-position: center;
}

.calculator-header {
  min-width: 100%;
  height: 300px;
  background: url('lineup.jpg');
  background-size: cover;
  background-position: center center;
}

.funding-header {
  min-width: 100%;
  height: 300px;
  background: url('sunset_panels.jpg');
  background-size: cover;
  background-position: center center;
}

.resources-header {
  min-width: 100%;
  height: 300px;
  background: url('cows_grazing.jpg');
  background-size: cover;
  background-position: center center;
}

.questions-header {
  min-width: 100%;
  height: 300px;
  background: url('wide_panels.jpg');
  background-size: cover;
  background-position: center center;
}
 /* ******************************* Main header styling ********************************** */
.main-header{
  padding: 0.5rem;
  position: relative;
  background-color: #18453B; 
  color: white;
}


.body-text{
  padding: 1rem;
  background-color: rgb(251, 251, 251);
}

  /* *******************************FAQ styling***************************************** */
.faq-heading{
   
    border-bottom: #777;
    padding: 1rem 3rem;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
}
.hr-line{
  width: 70%;
  margin: auto;
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    font-size: 110%;
    color: #444;
    cursor: pointer;
    padding: 3rem 2rem;
    width: 70%;
    border-left-width: 1rem;
    outline: none;
    transition: 0.4s;
    margin: auto;
}
.faq-body{
    margin: auto;
    text-align: left;
    width: 50%; 
}
/* Adds a background color to the button if it is clicked on (added the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #c8dad3;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 1.8rem;
    background-color: #fff;
    display: none;
    overflow: hidden;
}
.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 1.3rem;
    color: #777;
    float: right;
    margin-left: 0.5rem;
}
.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}


/* *******************************Resource page styling****************** */
#resourceHeader {
padding: 1rem; 
}

.resource-container{
display: flex;
justify-content: center;
flex-direction: column;
}
.hr-line{
width: 70%;
margin: auto;
}

/* Styling the buttons that are used to open and close the  body */
.resource-page {
  font-size: 100%;
  color: #444;
  cursor: pointer;
  padding: 2rem 1rem;
  width: 70%;
  border-left-width: 1rem;
  outline: none;
  transition: 0.4s;
  margin: auto;
}
.resource-body{
  margin: auto;
  text-align: left;
  width: 60%; 
}

/* Adds a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.resource-page:hover {
  background-color: #c8dad3;
}
/* Style the resource panel. Note: hidden by default */
.resource-body {
  padding: 0 1rem;
  background-color: #fff;
  display: none;
  overflow: hidden;
}
.resource-page:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 1.3rem;
  color: #585757;
  float: right;
  margin-left: 0.5rem;
}
.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

/* ***************************** Calculator Styling***************** */

#bodyOfCalculator {
  padding: 10px;
}

#calculatorHeader {
  padding: 5px;
}

  #farmerForm {
  padding: 10px;
  border: 5px solid #a9a9a9;
  border-radius: 10px;
  margin: 20px;
  }
  
  input[type=text] {
    padding: 5px;
  }
  input[type=text]:focus {
    border: 3px solid #ccc;
  }
  
  button {
    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;
    /* usual styles */
    padding:10px;
    border:none;
    background-color:#18453B;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:100%;
  }
  
  .underline:hover {
      text-decoration: underline;
  }


  .table-container1 {
    display: flex;
    flex-wrap: wrap;
  }
  
  .table1 {
    width: 50%;
  }
  
  .table2 {
    width: 50%;
  }
  @media screen and (max-width: 900px) {
    .table-container1 {
      flex-direction: column;
    }
    
    .table1 {
      width: 100%;
    }
    
    .table2 {
      width: 100%;
    }
  }
  
  .table-container2 {
    display: flex;
    flex-wrap: wrap;
  }
  
  .table3 {
    width: 50%;
  }
  
  .table4 {
    width: 50%;
  }
  @media screen and (max-width: 900px) {
    .table-container2 {
      flex-direction: column;
    }
    
    .table3 {
      width: 100%;
    }
    
    .table4 {
      width: 100%;
    }
  }
  
  .table5 {
    width:100%;
    padding: 0 20% 0 20%;
  }
  @media screen and (max-width: 900px) {
    .table5 {
      width:100%;
    }}
  
  th {
    color: white;
    background: #8bca84;
    text-align: center;
    padding: 7px;
    height: 25px;
    font-size: 20px;
  }
  
  td {
    border: 1px solid #a9a9a9;
    width: 33%;
    padding: 5px;
  }
  tr:hover {
    background-color: #DADEDF;
  }  

    .cashFlowChartContainer {
      width:100%;
    }
  

  /*************************** Funding Page Styling *************************/
 

#bodyOfFunding {
  padding:10px;
}

  .funding-table {
  padding: 5px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.funding-table th{
  padding: 10px;
  text-align: center;
  width: 20%;
}

.funding-table td {
  padding: 10px;
  text-align: left;
  width: 20%;
}
.funding-table tbody tr:hover {
  background-color: transparent;
}
/* Responsive styles */
@media (max-width: 768px) {
  .funding-table th,
  .funding-table td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  
  .funding--table th {
    text-align: center;
  }
  
  .funding-table tbody td::before {
    content: attr(data-label);
    font-weight: bold;
    display: block;
  }
    /* Apply shaded background to column one */
    .shaded-column {
      background-color: #d0d2d0; /* Define the shade color you want */
    }
      /* Hide the first row */
  .hide-row {
    display: none;
  }
}
